@font-face {
  font-family: 'Sora';
  src: url('../assets/fonts/Sora-Regular.ttf')  format('truetype');
}
@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.ttf')  format('truetype');
}

.navbar{
	background: #28536B;
	height: 100px;
	padding: 20px;
}

.title{

	margin-left: 30px;
	margin-top: 30px;
}
.title-text{
	font-family: Sora;
	font-style: normal;
	font-weight: 800;
	font-size: 50px;
	line-height: 38px;

	letter-spacing: 0.05em;
	color: #F6F0ED;
	border: 1px solid rgba(40, 83, 107, 0.73);
	text-decoration: none;
}

.link-click{
	position: absolute;
	margin-left: 65%;
	top: 65px;

}

.link-text{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	/* identical to box height */
	color: #FFFFFF;
	text-decoration: none;
}

.button-click{
	position: absolute;
	margin-left: 80%;
	top: 60px;
}

.button-text{
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	/* identical to box height */
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	background-color: #C2948A;
	height: 40px;
	width: 100px;
}

