
.background{
    position:relative;
    margin-top:0;
    margin-right:0;
    margin-left:0;
    margin-bottom:50px;
    top:0;
    left:0;
    padding-top:50px;

    width: 100%;
    height: 100%;
    background-color: #DAE0E6;
}

.infobox{
    position:relative;
    margin: auto;
    width: 70%;
    height: auto;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.questions{
    position: relative;
    margin: auto;
    width: 70%;
    height:auto;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.header{
    position: relative;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    margin-left: 20px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #000000;
}

.question{
    position: relative;
    margin: auto;
    width: 75%;
    margin-bottom: 50px;
    margin-top: 40px;
    height: auto;
    background: #E6E6E6;
    border-radius: 5px;
    padding: 15px;
}

.intro{
    position: relative;
    margin:10px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}
.info{
    position:relative;

    width: 80%;
    margin: auto;
    margin-bottom:10px;

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 33px;

    color: #000000;
}

.info-email{
    position:relative;

    width: 80%;
    margin: auto;
    margin-bottom:10px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;

    color: blue;
}

.question-title{
    margin-left:20px;
    height:auto;
    width:calc(100% - 120px);

    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 33px;
    display: flex;
    align-items: center;

    color: #000000;
}
.topic{
    background: #FFC224;
    border-radius: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-right:5px;
}
.topics{
    margin-left:20px;
    margin-right:auto;
    height:auto;
    width:calc(100% - 120px);
}

.level1{
    position: absolute;
    width: 8px;
    height: 20px;
    left: calc(100% - 80px);
    bottom:60%;
    background: #49DEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level2n{
    position: absolute;
    width: 8px;
    height: 30px;
    left: calc(100% - 60px);
    bottom: 60%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level3n{
    position: absolute;
    width: 8px;
    height: 40px;
    left: calc(100% - 40px);
    bottom: 60%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.level2y{
    position: absolute;
    width: 8px;
    height: 30px;
    left: calc(100% - 60px);
    bottom: 60%;
    background: #49DEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level3y{
    position: absolute;
    width: 8px;
    height: 40px;
    left: calc(100% - 40px);
    bottom: 60%;
    background: #49DEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}
.email-link{
    color:blue;
}
