@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.ttf')  format('truetype');
}

body{
	background-color: #DAE0E6;
    min-width: 900px;
    margin:0px;
    padding:0px;
}
.background2{

    position: relative;    
    margin-bottom:0;
    left:0;
    bottom:0;
    right:0;


    padding-top:50px;

}

.intro2{
    position: relative;
    margin:10px;
    margin-left:10%;
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 41px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #000000;
}

.tp-box{
    position: relative;
    margin: auto;
    width: 60%;
    margin-bottom: 50px;
    margin-top: 20px;
    margin-left:15%;
    height: 100px;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 30px;
    
    border: 1px solid rgba(0, 0, 0, 0.25);
	box-sizing: border-box;
	text-align:center;
}

.goto-text{
	font-family: Nunito;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 33px;
	/* identical to box height */

	display: flex;
	align-items: center;

	color: #000000;
}