@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-Regular.ttf')  format('truetype');
}

.question-block {
    position:relative;
    margin-left: auto;
    margin-right:auto;
    margin-top:50px;
    margin-bottom:50px;
    width: 70%;
    height: auto;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.question-title-2 {
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    margin-left: 20px;
    margin-right: calc(45px + 5%);

    color: #000000;
}

.question-description {
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-left: 20px;
    margin-right: calc(45px + 5%);

    color: #000000;
}

.level12{
    position: absolute;
    width: 8px;
    height: 20px;
    left: calc(95% - 40px);
    bottom:70%;
    background: #49DEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level2n2{
    position: absolute;
    width: 8px;
    height: 30px;
    left: calc(95% - 20px);
    bottom: 70%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level2y2{
    position: absolute;
    width: 8px;
    height: 30px;
    left: calc(95% - 20px);
    bottom: 70%;
    background: #49DEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level3n2{
    position: absolute;
    width: 8px;
    height: 40px;
    left: 95%;
    bottom: 70%;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.level3y2{
    position: absolute;
    width: 8px;
    height: 40px;
    left: 95%;
    bottom: 70%;
    background: #49DEE8;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.topic-2{
    background: #FFC224;
    border-radius: 5px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    margin-right:5px;
}
.topics-2{
    margin-left: 20px;
    margin-right: calc(45px + 5%);
    margin-bottom:20px;
}

.login-message{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 23px;
    margin-right:5px;
    margin-left: auto;
    margin-right:auto;
    text-align:center;
    width: 70%;
    margin-top:150px;
}

.my-tp-button-1{
    position:absolute;
    margin-left: 15%;
    background: rgba(221, 188, 181, 0.25);
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height:35px;
    width:175px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color: #000000
    /* identical to box height */

}

.community-tp-button-1{
    position:absolute;
    margin-left: calc(15% + 180px);
    background: rgba(126, 168, 190, 0.25);
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height:35px;
    width:175px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color:#000000;
}

.my-tp-button-1:disabled{
    position:absolute;
    margin-left: 15%;
    background: rgba(221, 188, 181);
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height:35px;
    width:175px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color:#000000;
    /* identical to box height */

}

.community-tp-button-1:disabled{
    position:absolute;
    margin-left: calc(15% + 180px);
    background: rgba(126, 168, 190, 1);
    box-shadow: 5px -2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    height:35px;
    width:175px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    color:#000000;
}

.divider-line{
    position: absolute;
    width: 70%;
    height: 10px;
    left: 15%;
    margin-top:35px;

    background: linear-gradient(90deg, #D2A49A 0%, rgba(239, 239, 239, 0) 100%);
    filter: drop-shadow(0px -5px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;
}

.divider-line-2{
    position: absolute;
    width: 70%;
    height: 10px;
    left: 15%;
    margin-top:35px;

    background: linear-gradient(90deg, #7EA8BE 0%, rgba(239, 239, 239, 0) 100%);
    filter: drop-shadow(0px -5px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20px;

}

.my-tp-submit{
    position:relative;
    margin-left: auto;
    margin-right:auto;
    margin-top:97px;
    margin-bottom:50px;
    width: 70%;
    height: auto;

    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.tp-input-box{
    position:relative;
    background: #FFFDF9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;

    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:20px;
    height:100px;

    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    /* identical to box height */

    color: #000000;
}

.tp-submit-green{
  

    background: #92C502;
    box-shadow: 2px 4px 4px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-left: calc(90% - 100px);
    margin-bottom:30px;
    height:40px;
    width:100px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 33px;
    /* identical to box height */


    color: #000000;

}

.tp-instructions-text{
    font-family: Nunito;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 33px;
    margin-left: 10%;
    margin-right:10%;
    margin-bottom:0px;
    /* identical to box height */

    color: #000000;
}