/* import fonts */
@font-face {
  font-family: 'Open-Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/OpenSans-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Gotham-Book';
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/Montserrat-Regular.ttf) format('opentype');
}

Link {
  font-size: 90px;
}
