#logo {
/*    position: absolute;
    width: 85px;
    height: 38px;
    left: 67px;
    top: 13px;*/

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    display: flex;
    align-items: center;

    color: #1FEBF8;
}

.question {
/*    position: absolute;
    width: 750px;
    height: 130px;
    left: 507px;
    top: 171px;*/
    background: #E6E6E6;
}

#qTitle {
/*    position: absolute;
    width: 400px;
    height: 30px;
    left: 538px;
    top: 195px;*/
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #000000;
}

.topic {
    background: #C4C4C4;
    border-radius: 10px;
}

/*.topic-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #000000;
}*/
